body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* logo */
.blue{
    color: #4a96ed;
}

.red{
    color: #f51616;
}

.yellow{
    color: #f2ba35;
}

.green{
    color: #219432
}

.logo{
    font-size: 100px;
    text-align: center;
}

.logo a, .logo_sm a{
    text-decoration: none;
}

.logo_sm{
    font-size: 30px;
    margin: 20px;
}

.sub{
    font-size: 20px;
    text-decoration: none;
}

/* nav */
.top_links{
    text-align: right;
}

.top_links a{
    text-decoration: none;
    color: #000;
    margin: 5px 10px;
}

.top_links a:hover{
    text-decoration: underline;
}

/* buttons */
.buttons{
    display: flex;
    justify-content: center;
}

.buttons input{
    border: 0;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 15px;
}

.buttons input:hover{
    background-color: #ddd;
}

/* forms */
.search_box{
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    border: #bbb 1px solid;
    margin: 0 auto;

}

.search_box_ad{
    width: 300px;
}

.search_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adv_form div{
    width: auto;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 50px;
}

.adv_form .adv_btn{
    position: relative;
    left: 360px;
}

.adv_form label{
    width: 200px;
}

form input{
    margin: 10px;
}

@media (max-width: 600px){

    .logo{
        margin-top: 100px;
        font-size: 60px;
    }

    .search_box{
        width: 350px;
    }

    .adv_form div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    }

    .adv_form .adv_btn{
        position: relative;
        left: auto;
    }

    .adv_form label{
        width: auto;
    }
}